---
import Layout from '~/layouts/Layout.astro';
import Show from '~/components/Show.astro';

const round = Math.random();
---

<Layout>
    <div class="p-10">
        <h1 class="text-4xl">HELLO</h1>
        <Show when={round > 0.5}>
            <h3 class="pt-4">{round}</h3>
            <h3 class="pt-4" slot="fallback">fallback show</h3>
        </Show>
    </div>
</Layout>
